
.bash_history
.bash_logout
.bashrc
.profile
.my.cnf
.cache/
.local/
.ssh/
.vimrc
.viminfo
*.swo
*.swp
.sudo_as_admin_successful
.cloud-locale-test.skip
.lesshst
.mysql_history
.gitconfig
.cloud-locale-test.skip
